@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-white;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}